*~

## composer
Plugin/*
vendors/*
composer.phar

## CakePHP
app/tmp/*
app/files/*
app/webroot/files/*
!empty
*.pot

/nbproject
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
*bak
Icon?
ehthumbs.db
Thumbs.db
*~

